* {
  box-sizing: border-box;
}

/* set the background image and strech it to always fit the page */
body{
  background-image: url("../images/background.jpg");
  background-size: 100vw 100vh;
}

/* attribute the font size for the headers */
h1 {font-size: 250%;}
h2 {font-size: 175%;}
h3 {font-size: 150%;}


/* Headers */
.mainheader {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  background-color: #19335D;
  color: #ffffff;
}

.mainheader img{
  width: 50px;
  height: 50px;
  position: absolute;
  margin-top: -15px;
}

.mainheader nav {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

.mainheader nav ul li {
  display: inline-block;
  margin-left: 50px;
}

a {
  color: #ffffff;
  text-decoration: none;
}
/* /headers */

/* AboutMe */
.AboutMe{
  font-family: 'Roboto Slab', 'Montserrat', Calibri;
  background: rgba(0, 0, 0, 0.3);
  padding: 20px;
  display: flex;
  min-width: 300px;
  max-width: 800px;
  margin: auto;
  color: #ffffff;
  margin-bottom: 30px;
  margin-top : 20px;
  font-weight: bold;
}

.description{
  flex: 1 0 0;
  flex-direction: row;
  text-align: left;
  flex-wrap: wrap;
}

.description p{
  font-size: 120%;
  
}

.AboutMe img {
  float: right;
  margin-left: 40px;
  height: 200px;
}

/* /About me */

/* Projects */
.projects{
  display: flex;
  flex-wrap: wrap;
  min-width: 300px;
  max-width: 800px;
  margin: auto;
  color: #ffffff;
  }

.projects header{
   position: absolute;
   margin-left: -160px;
 }

.vl {
  border-left: 6px solid black;
  height: 1000px;
  position: absolute;
  margin-left: -20px;

}

.Mainproject{
  flex-grow: 1;
}

.Mainproject img{
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  border: 4px solid #2a607c;
  border-radius: 30px;
  opacity: 0.7;
}

.Mainproject img:hover{
  opacity: 1;
}

.Mainproject .caption, .smallcaption{
  background-color: black;
  position: absolute;
  margin-top: -70px;
  margin-left: 10px;
  padding: 5px;
  border-radius: 10px;
  opacity: 0.7;
}
.smallprojects{
display: flex;
flex-wrap: wrap;
justify-content: center;
min-width: 300px;
max-width: 800px;
margin: auto;
color: #ffffff;
}

.smallproject{
  margin-top: 15px;
  margin-left: 20px;
  max-width: 380px;
  min-width: 150px;
  height: 200px;
  flex-grow: 1;
}

.smallproject img{
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  border: 4px solid #2a607c;
  border-radius: 30px;
  opacity: 0.7;
}
.smallproject img:hover{
  opacity: 1;
}

.smallcaption{
  background-color: black;
  position: absolute;
  padding: 5px;
  border-radius: 10px;
}

.hidden{
  display: none;
  font-size: 200%;
  text-align: center;
  margin-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
}

@media screen and (max-width: 850px) {
  .hidden{
    display: block;
  }
  .projects h1, .projects .vl, .contact h1, .contact .vl2{
    display: none;
  }
}
/* /projects */

/* Contact */
.contact{
  display: flex;
  min-width: 300px;
  max-width: 800px;
  margin: auto;
  margin-top: 80px;
  color: #ffffff;
  justify-content: center;
}

.contact header{
  position: absolute;
  margin-left: -330px;
}

.vl2 {
  border-left: 6px solid black;
  height: 100px;
  position: absolute;
  margin-left: -195px;

}

.links{
  font-size:150%;
  padding-top: 20px;
  padding-left: 40px;
  
}

.links li{
  display: inline-block;
  margin-bottom: 20px;
  margin-left: 20px;
}

/* /Contact */
/* Footer */
footer{
  position: absolute;
  margin-top: 170px;
  text-align: center;
  background-color: black;
  padding: 10px;
  width: 100%;
  color: #ffffff;
  opacity: 0.7;
}

/* /Footer */